<section class="widget">

  <header class="widget-banner">
    <img
      [src]="hotelImageUrl"
      alt="Photo"
      onerror="this.src = '../../../assets/images/no-photo.jpg'"
      [title]="currentHotel.socialInfo.title"
      width="330"
      height="195"
      class="widget-banner__image">
  </header>

  <nav class="widget-navigation">
    <ul class="widget-navigation__menu">
      <li
        *ngFor="let item of navigationItems"
        class="widget-navigation__item"
        [ngClass]="{'widget-navigation__item_active': currentHotelType === item}">
        {{item}}
      </li>
    </ul>
  </nav>

  <section class="widget-content">

    <header class="widget-content__header-container">
      <h2 class="widget-content__header-title">Hotels and places for your rest</h2>
      <div class="line line_widget"></div>
      <p class="widget-content__header-description">Filtered by: "{{currentHotelType}}"</p>
    </header>

    <ul class="widget-content__list" [perfectScrollbar]>
      <li *ngFor="let hotel of hotels"
        class="widget-content__item">
        <div class="widget-content__item-line"></div>
        <app-widget-card [hotel]="hotel"></app-widget-card>
      </li>
    </ul>

  </section>

</section>
