.widget {
  width: 330px;
  height: 485px;
  border-radius: 7px;
  background-color: rgb(227, 233, 232);
}

.widget-banner {
  height: 195px;
}

.widget-banner__image {
  -webkit-border-top-left-radius: 7px; 
  -webkit-border-top-right-radius: 7px; 
}

.widget-navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  color: #fff;
  background-color: rgb(245, 177, 94);
}

.widget-navigation__menu {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 0 10px;
  font-size: 18px;
}

.widget-navigation__item {
  opacity: 0.75;
  font-size: 16px;
}

.widget-navigation__item:hover {
  opacity: 0.90;
  cursor: pointer;
}

.widget-navigation__item_active,
.widget-navigation__item_active:hover {
  opacity: 1;
  border-bottom: 1px solid #fff;
  cursor: default;
}

.widget-content {
  padding: 15px 10px;
}

.widget-content__header-container {
  margin-bottom: 10px;
  text-align: center;
}

.widget-content__header-title,
.widget-content__header-description {
  color: rgb(96, 103, 110);
}

.widget-content__header-title {
  font-size: 18px;
}

.widget-content__header-description {
  font-size: 14px;
}

.widget-content__list {
  position: relative;
  height: 138px;
  border-radius: 3px;
  overflow: hidden;
  overflow-y: scroll;
  background-color: #fff;
}

.widget-content__item-line {
  width: 290px;
  height: 1px;
  margin: 0 auto;
  background-color: lightgray;
}

.widget-content__item:first-child .widget-content__item-line {
  display: none;
}
