<section class="widget-card">

  <article class="widget-card__description">
    <header>
      <h3 class="widget-card__description-title">Resort Address:</h3>
    </header>
    <div>
      <p class="widget-card__description-address">{{hotel.address}}</p>
    </div>
    <footer>
      <a href="tel:{{hotel.phone}}" class="widget-card__description-phone">Tel: {{hotel.phone}}</a>
    </footer>
  </article>

  <aside class="widget-card__images">
    <img
      [src]="hotelImageData.url1 || defaultImageUrl"
      alt="Photo 1"
      onerror="this.src = '../../../assets/images/no-photo.jpg'"
      [title]="hotel.socialInfo.title"
      width="50"
      height="50"
      class="widget-card__images-item">
    <img
      [src]="hotelImageData.url2 || defaultImageUrl"
      alt="Photo 2"
      onerror="this.src = '../../../assets/images/no-photo.jpg'"
      [title]="hotel.socialInfo.title"
      width="50"
      height="50"
      class="widget-card__images-item">
  </aside>
  
</section>
