.teddy-bear {
	text-align: center;
}

.teddy-text {
	padding: 1.2em 1em;
	border-radius: 5px 5px 0px 0px;
	background-color: #fd7b87;
}

.teddy-text h4 {
  color: #fff;
}

.teddy-text img {
	border: 3px solid #fff;
	border-radius: 70px;
}

.teddy-follow {
	padding: 0.7em 0em 0.7em 0em;
	border-radius: 0px 0px 4px 4px;
	background-color: #f2f1ef;
}

.teddy-follow li {
  display: inline-block;
  padding: 0em 0.9em;
}

.teddy-follow li h3 {
	font-size: 0.95em;
	font-weight: bold;
  color: #000;
}

.teddy-follow li p {
  font-size: 0.8em;
  color: #8A8A8A;
}

.teddy-follow li.folw-h {
  border-right: 1px solid #000;
}
