<section class="weather-content">

  <header class="weather-content__header-container">
    <h2 class="weather-content__header-title">{{currentHotel.weatherInfo.type}}</h2>
    <div class="line"></div>
  </header>

  <div class="weather-content__middle-container">
    <div class="weather-content__middle-icon-container">
      <mat-icon class="weather-content-icon weather-content-icon_middle">{{currentHotel.weatherInfo.icon}}</mat-icon>
    </div>
    <p class="weather-content__middle-info">
        {{currentHotel.weatherInfo.airTemperature}}
      <mat-icon class="weather-content-icon weather-content-icon-сelsius_middle">trip_origin</mat-icon>
    </p>
  </div>

  <footer class="weather-content__footer-container">
    <p class="weather-content__footer-text">
      Water {{currentHotel.weatherInfo.waterTemperature}}
      <mat-icon class="weather-content-icon weather-content-icon-сelsius weather-content-icon-сelsius_footer-text">trip_origin</mat-icon>
    </p>
    <mat-icon class="weather-content-icon weather-content-icon_waves">waves</mat-icon>
  </footer>

</section>
