h1 {
	margin: 3em 0em 2em 0em;
	text-align: center;
	font-family: 'Cantora One', sans-serif;
	font-size: 2em;
	color: #fff;
}

.app-container {
  display: flex;
  justify-content: space-between;
  width: 565px;
  margin: 0 auto;
}

.sidebar-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
