@import '@angular/material/prebuilt-themes/deepPurple-amber.css';
@import '~perfect-scrollbar/css/perfect-scrollbar.css';

body {
  font-family: 'Calibri', sans-serif;
  font-size: 100%;
  background-color: #58586b; 
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

.line {
  width: 110px;
  height: 2px;
  margin: 5px auto;
  background-color: #fff;
}

.line_widget {
  background-color: lightslategrey;
}

/* Styles for perfectScrollbar */

.ps__rail-y {
  display: block;
  opacity: 1;
  background-color: lightslategray;
}

.ps__thumb-y,
.ps__rail-y:hover > .ps__thumb-y,
.ps__rail-y:focus > .ps__thumb-y,
.ps__rail-y.ps--clicking .ps__thumb-y {
  background-color: rgb(245, 177, 94);
}
